.mypageheader {
	width: 75%;
  
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: rgb(122, 187, 240);
  margin : 10px;
}

.ul {
  display: flex;
  list-style: none;
  font-size: 0.8rem;
}

.li {
  display: flex;
  width: 80px;
  height: 20px;
  text-align: center;
 }

.link {
  display: flex;
  align-items: center;
}
