.loading-on {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
}

.loading-on h1 {
  position: absolute;
  animation-name: loading;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.loading-off {
  display: none;
}

@keyframes loading {
  from {
    color: white;
  }
  50% {
    color: #0f5bea;
  }
  to {
    color: white;
  }
}
