.loading-on {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.loading-on .back {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
}

.loading-on h1 {
  position: absolute;
  animation-name: loading;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.loading-off {
  display: none;
}

@keyframes loading {
  from {
    color: white;
  }
  50% {
    color: #0f5bea;
  }
  to {
    color: white;
  }
}
